::root {
    --background-color: white;
    --color: #000000;
    --box-shadow: #000000;
    --texto-card: black;
    --fundo-card: #F7F7F7;
    --bg-fundoEX: #fafafa;
    --sombra-FEX: #bfbdbd;
    --fundo-rodape: #818181;
}

::placeholder {
    color: white;
}

body {
    color: var(--color);
    background-color: var(--background-color);
    transition: .3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color: var(--color);
}

/*Removendo scrool horizontal*/
body,
html {
    overflow-x: hidden !important;
}


/*Estilizando modal*/
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color);
    pointer-events: auto;
    background-color: var(--fundo-card);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;

}


/*Fundo experiencias*/
.fundoExperiencias {
    padding-left: 10px;
    background-color: var(--bg-fundoEX);
    border-radius: 10px;
    box-shadow: inset 0 0 25px 4px var(--sombra-FEX);
    animation: .3s;

}

/*Efeitos*/

.area-1, .area-2, .area-3, .area-4, .area-5 {
    visibility: hidden;
}