::root {
    --background-color: white;
    --color: #000000;
    --box-shadow: #000000;
    --texto-card: black;
    --fundo-card: #F7F7F7;
    --bg-fundoEX: #fafafa;
    --sombra-FEX: #bfbdbd;
}

body {
    color: var(--color);
    background-color: var(--background-color);
    transition: .3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--color);
}


.fundo {
    background-color: var(--background-color);
    color: var(--color);
    transition: .3s;
}

.borda {
    border: 1px solid black;
}

/*nav bar*/

.navbar-light .navbar-nav .nav-link{
    color: var(--color);
}

.navbar-light .navbar-brand{
    color: var(--color);
}

/* DarkMode */

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 18px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label::after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 13px;
	height: 13px;
	background-color: white;
	border-radius: 90px;
	transition: 0.6s;
}

input:checked + label {
	background-color: gray;
}

input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}


/*Apresentação*/

.apresentacao {
    padding-top: 200px;
    padding-bottom: 310px;
}



 /*Links perfil*/
 
.wts {
    color: var(--color);
    transition: .4s;
    text-decoration: none;
}

.wts:hover {
    color: #00ff5e;
}

.git-l {
    color: var(--color);
    transition: .4s;
    text-decoration: none;
}

.git-l:hover {
    color: #FD6C4D;
}

.linkedin {
    color: var(--color);
    transition: .4s;
    text-decoration: none;
}

.linkedin:hover {
    color: #4DA5FD;
}

.inst-l {
    color: var(--color);
    transition: .4s;
    text-decoration: none;
}

.inst-l:hover {
    color: #FE4C4C;
}

/*/Links perfil*/




.efeito-foto {
    -webkit-box-shadow: 7px -6px 0px -3px var(--box-shadow);
    -moz-box-shadow: 7px -6px 0px -3px var(--box-shadow);
    box-shadow: 7px -6px 0px -3px var(--box-shadow);
    transition: .6s;
}


/* tecnologias black/ligth */

img {
    width: 65px;
}

/* CSS TRANSITION*/

.css img {
    filter: grayscale(100%);
}

.css img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* HTML TRANSITION*/

.html img {
    filter: grayscale(100%);
}

.html img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* JS TRANSITION*/

.js img {
    filter: grayscale(100%);
}

.js img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* TS TRANSITION*/

.nd img {
    filter: grayscale(100%);
    width: 50px;
}

.nd img:hover {
    width: 60px;
    transition: .4s;
    filter: grayscale(0%);
}

/* GIT TRANSITION*/

.git img {
    filter: grayscale(100%);
}

.git img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* botstrap TRANSITION*/

.bot img {
    filter: grayscale(100%);
}

.bot img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}



/*Media queries tooltip*/
@media (max-width: 575.98px) { 
    .toolflip-texto {
        font-size: 15px;
        font-weight: bold;
        font-family: inherit;
        position: absolute;
        left: 70%;
        top: 0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        padding: 5px 7px;
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

 }
@media (min-width: 576px) and (max-width: 767.98px) { 
    .toolflip-texto {
        font-size: 15px;
        font-weight: bold;
        font-family: inherit;
        position: absolute;
        left: 63%;
        top: 0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        padding: 5px 7px;
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

 }
@media (min-width: 768px) and (max-width: 991.98px) { 
    .toolflip-texto {
        font-size: 15px;
        font-weight: bold;
        font-family: inherit;
        position: absolute;
        left: 45%;
        top: 0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        padding: 5px 7px;
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

 }
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .toolflip-texto {
        font-size: 15px;
        font-weight: bold;
        font-family: inherit;
        position: absolute;
        left: 34%;
        top: 0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        padding: 5px 7px;
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

 }
@media (min-width: 1200px) { 
    .toolflip-texto {
        font-size: 15px;
        font-weight: bold;
        font-family: inherit;
        position: absolute;
        left: 28.5%;
        top: 0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        padding: 5px 7px;
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

  }
 
  /* Sobre mim */
 .fundoSobre {
     background-color: var(--fundo-card);
     color: var(--texto-card);
     transition: .4s;
     border-radius: 10px;
     box-shadow: 0 0 3px 0.5px #1B2631;
 }
 
 .fundoSobre p{
  font-size: 17px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 25px;

 }
 
 /*Estilizando cards*/
 
 .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--texto-card);
    word-wrap: break-word;
    background-color: var(--fundo-card);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    box-shadow: 0 0 2px 0.5px #15181c;
    transition: .4s;

 
}

.card h5 {
  font-size: 16px;
}

.card p {
  font-size: 15px;
}


.card:hover {
    background-color: #aaaaaa;
}

/*Estilizando modal*/
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color);
    pointer-events: auto;
    background-color: var(--fundo-card);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;

}

/*Estilizando links*/
.link-underline-dark {
    --bs-link-underline-opacity: 1;
    -webkit-text-decoration-color: var(--background-color);
    text-decoration-color: var(--background-color);
}

/*Fundo experiencias*/
.fundoExperiencias{
  padding-left: 10px;
  background-color: var(--bg-fundoEX);
  border-radius: 10px;
  box-shadow: inset 0 0 25px 4px var(--sombra-FEX);

}

/*apple*/
.vermelho {
  height: 10px;
  width: 10px;
  background-color: #FD6161;
  border: 1px solid #636363;
  border-radius: 50%;
  display: inline-block;
}

.amarelo {
  height: 10px;
  width: 10px;
  background-color: #F5DA5D;
  border: 1px solid #636363;
  border-radius: 50%;
  display: inline-block;
}

.verde {
  height: 10px;
  width: 10px;
  background-color: #58DB54;
  border: 1px solid #636363;
  border-radius: 50%;
  display: inline-block;
}
