/* Tamanho geral */
img {
    width: 65px;
}

/* CSS TRANSITION*/


.css img {
    filter: grayscale(100%);
}

.css img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* HTML TRANSITION*/

.html img {
    filter: grayscale(100%);
}

.html img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* JS TRANSITION*/

.js img {
    filter: grayscale(100%);
}

.js img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* TS TRANSITION*/

.nd img {
    filter: grayscale(100%);
    width: 50px;
}

.nd img:hover {
    width: 60px;
    transition: .4s;
    filter: grayscale(0%);
}

/* GIT TRANSITION*/

.git img {
    filter: grayscale(100%);
}

.git img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* botstrap TRANSITION*/

.bot img {
    filter: grayscale(100%);
}

.bot img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}