/*Estilizando cards Projetos*/

/*apple*/
.vermelho {
    height: 10px;
    width: 10px;
    background-color: #FD6161;
    border: 1px solid #636363;
    border-radius: 50%;
    display: inline-block;
  }
  
  .amarelo {
    height: 10px;
    width: 10px;
    background-color: #F5DA5D;
    border: 1px solid #636363;
    border-radius: 50%;
    display: inline-block;
  }
  
  .verde {
    height: 10px;
    width: 10px;
    background-color: #58DB54;
    border: 1px solid #636363;
    border-radius: 50%;
    display: inline-block;
  }