::root {
    --background-color: white;
    --color: #000000;
    --box-shadow: #000000;
    --texto-card: black;
    --fundo-card: #F7F7F7;
}

body {
    color: var(--color);
    background-color: var(--background-color);
    transition: .3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fundo {
    background-color: var(--background-color);
    color: var(--color);
    transition: .3s;
}

.borda {
    border: 1px solid black;
}

/*nav bar*/

.navbar-light .navbar-nav .nav-link{
    color: var(--color);
}

.navbar-light .navbar-brand{
    color: var(--color);
}

/* botão css ===================== */

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 18px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label::after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 13px;
	height: 13px;
	background-color: white;
	border-radius: 90px;
	transition: 0.6s;
}

input:checked + label {
	background-color: gray;
}

input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

/* Botão CSS ===== */



/*Parte container (foto/texto/botao)*/

 /*WHATSAPP*/
.wts {
    color: var(--color);
    transition: .4s;
}



.wts:hover {
    color: #00ff5e;
}



.efeito-b {
    -webkit-box-shadow: 3px -3px 0px -2px var(--box-shadow);
    -moz-box-shadow: 3px -3px 0px -2px var(--box-shadow);
    box-shadow: 3px -3px 0px -2px var(--box-shadow);
    transition: .6s;
}

.efeito-foto {
    -webkit-box-shadow: 7px -6px 0px -3px var(--box-shadow);
    -moz-box-shadow: 7px -6px 0px -3px var(--box-shadow);
    box-shadow: 7px -6px 0px -3px var(--box-shadow);
    transition: .6s;
}


/* tecnologias black/ligth */

img {
    width: 65px;
}

/* CSS TRANSITION*/

.css img {
    filter: grayscale(100%);
}

.css img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* HTML TRANSITION*/

.html img {
    filter: grayscale(100%);
}

.html img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* JS TRANSITION*/

.js img {
    filter: grayscale(100%);
}

.js img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* TS TRANSITION*/

.nd img {
    filter: grayscale(100%);
    width: 50px;
}

.nd img:hover {
    width: 60px;
    transition: .4s;
    filter: grayscale(0%);
}

/* GIT TRANSITION*/

.git img {
    filter: grayscale(100%);
}

.git img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}

/* botstrap TRANSITION*/

.bot img {
    filter: grayscale(100%);
}

.bot img:hover {
    width: 75px;
    transition: .4s;
    filter: grayscale(0%);
}



/*Media queries tooltip*/
@media (max-width: 575.98px) { 
    .toolflip-texto {
        font-size: 15px;
        font-weight: bold;
        font-family: inherit;
        position: absolute;
        left: 70%;
        top: 0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        padding: 5px 7px;
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

 }
@media (min-width: 576px) and (max-width: 767.98px) { 
    .toolflip-texto {
        font-size: 15px;
        font-weight: bold;
        font-family: inherit;
        position: absolute;
        left: 63%;
        top: 0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        padding: 5px 7px;
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

 }
@media (min-width: 768px) and (max-width: 991.98px) { 
    .toolflip-texto {
        font-size: 15px;
        font-weight: bold;
        font-family: inherit;
        position: absolute;
        left: 45%;
        top: 0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        padding: 5px 7px;
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

 }
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .toolflip-texto {
        font-size: 15px;
        font-weight: bold;
        font-family: inherit;
        position: absolute;
        left: 34%;
        top: 0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        padding: 5px 7px;
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

 }
@media (min-width: 1200px) { 
    .toolflip-texto {
        font-size: 15px;
        font-weight: bold;
        font-family: inherit;
        position: absolute;
        left: 28.5%;
        top: 0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        padding: 5px 7px;
        border-radius: 7px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
    }

  }
 
  /* Sobre mim */
 .fundoSobre {
     background-color: var(--fundo-card);
     color: var(--texto-card);
     transition: .4s;
     border-radius: 10px;
     box-shadow: 0 0 3px 0.5px #1B2631;
 }
 
 .fundoSobre p{
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;

 }
 
 /*Estilizando cards*/
 
 .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--texto-card);
    word-wrap: break-word;
    background-color: var(--fundo-card);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    box-shadow: 0 0 2px 0.5px #15181c;
    transition: .4s;
 
} 
