/*Navbar*/
.navBG {
  padding: 15px;
  background-color: #3e3eda;
  border-bottom: 5px solid #2E2E94;
}


.navBG a {
  position: relative;
}

.navBG a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #29298C;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navBG a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


/*Perosonalizando caco*/
#caco {
  width: 300px;
  border-radius: 40%;
}

@media (max-width: 575.98px) {
  #caco {
    width: 150px;
  }
}

@media (min-width: 767.98px) {
  #caco {
    width: 250px;
  }

}

.animacao {
  animation: fundo 0.5s linear 0s 1 normal forwards;
}

@keyframes animacao {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Colunas */

.colunas {
  padding-top: 10px;
}

@media (max-width: 767.98px) {

  .colunas .col {
    margin: 50px;
  }
}

/*Icone caco chat*/
.cacoH img {
  border: 2px solid #29298C;
  border-radius: 100%;
  cursor: pointer;
  animation: pulse-animation 2s infinite;
  width: 150px;
}

.chat-image {
  padding-top: 25px;
  padding-bottom: 25px;
  right: 0;
  position: absolute;
  bottom: 250px;
}

/*Animação pulse caco icone*/

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}